html,
body{
      height:100%;
      font-size: 1rem;
      font-family: 'Roboto Slab', serif;
}












.gradient {
      background: linear-gradient(90deg, rgba(31,195,133,0.8463760504201681) 0%, rgba(29,199,253,0.9192051820728291) 50%, rgba(69,242,252,0.9640231092436975) 100%);

}


.page-header{
  margin-top: 4rem;
   font-size: 1.25rem;
   color: black;

}


.feature ul{
      padding-left: 2rem;
     list-style-type: none;

}



.feature{

color: rgb(0, 0, 0); 
}

.feature ul {

padding-left: 2rem;
list-style-type:none;
}


.feature ul li{

      padding-left: 2rem;
    background-image: url(/img/check.svg);
    background-repeat: no repeat;
    line-height: 1.5rem;
}