html,
body{
      height:100%;
      font-size: 1rem;
      font-family: 'Roboto Slab', serif;
}












.gradient {
   
      background: rgb(147,31,195);
      background: linear-gradient(90deg, rgba(147,31,195,1) 0%, rgba(29,253,232,1) 50%, rgba(252,225,69,1) 100%);

}


.page-header{
  margin-top: 4rem;
   font-size: 1.25rem;
   color: black;

}


.feature ul{
      padding-left: 2rem;
     list-style-type: none;

}



